@use "sass:meta";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

footer {
    margin-top: 6em;
    font-size: smaller;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

@include meta.load-css("../../src/scss/rows");

.row {
    align-items: flex-start;
}