/*!
 *  Bit&Black Rows
 *
 *  @copyright Copyright (c) Bit&Black
 *  @author Tobias Köngeter <hello@bitandblack.com>
 *  @link https://www.bitandblack.com
 */

@use "sass:math";
@use "mixins";
@use "variables";

$-bb-rows-gutter-half: "";
$-bb-rows-gutter-half-negative: "";

@if (variables.$bb-rows-use-custom-css-properties == true) {
    $-bb-rows-gutter-half: var(--bb-rows-gutter-half);
    $-bb-rows-gutter-half-negative: calc(var(--bb-rows-gutter-half) * -1);
} @else {
    $-bb-rows-gutter-half: math.div(variables.$bb-rows-gutter, 2);
    $-bb-rows-gutter-half-negative: $-bb-rows-gutter-half * -1;
}

// Defines a grid that may hold multiple cells.
@mixin grid {
    @if (variables.$bb-rows-use-custom-css-properties == true) {
        --bb-rows-gutter-internal: var(--bb-rows-gutter, #{variables.$bb-rows-gutter});
        --bb-rows-gutter-half: calc(var(--bb-rows-gutter-internal) / 2);
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    margin-left: $-bb-rows-gutter-half-negative;
    margin-right: $-bb-rows-gutter-half-negative;
}

// Disables the gutter in this grid.
@mixin grid--gutter-disabled($bb-rows-cell-selector-local: variables.$bb-rows-cell-selector) {
    margin-left: 0;
    margin-right: 0;

    & > #{$bb-rows-cell-selector-local} {
        padding-left: 0;
        padding-right: 0;
    }
}

// Disables the cell wrap in this grid and gives all cells an equal width.
@mixin grid--fit-row($bb-rows-cell-selector-local: variables.$bb-rows-cell-selector) {
    flex-wrap: nowrap;

    & > #{$bb-rows-cell-selector-local} {
        width: 100%;
        max-width: 100%;
    }
}

// Defines a basic cell.
@mixin cell {
    flex: 0 1 auto;
    padding-left: $-bb-rows-gutter-half;
    padding-right: $-bb-rows-gutter-half;

    @include mixins.internet-explorer {
        width: auto !important;
    }
}

// Defines the amount of cells.
@mixin cell--cell-count($cell-count) {
    $number: mixins.getUnitInPercentage($cell-count);
    flex-basis: #{$number};
    width: #{$number};
    max-width: #{$number};
}

// Defines a left margin for a cell.
@mixin cell--left-margin-cell-count($cell-count) {
    $number: mixins.getUnitInPercentage($cell-count);
    margin-left: #{$number};
}

// Defines a right margin for a cell.
@mixin cell--right-margin-cell-count($cell-count) {
    $number: mixins.getUnitInPercentage($cell-count);
    margin-right: #{$number};
}

// Defines the cell order.
@mixin cell--order($order) {
    order: #{$order};
}

// Allows the cell to have a flexible width.
@mixin cell--width-flexible {
    flex: 1 1 auto;
    flex-basis: 0;
    width: auto;
}