//  Bit&Black Rows
//
//  @copyright Copyright (c) Bit&Black
//  @author Tobias Köngeter <hello@bitandblack.com>
//  @link https://www.bitandblack.com

// Some mixins here

@use "sass:map";
@use "variables";

@mixin phone-only {
    @media (max-width: (map.get(variables.$bb-rows-breakpoints, "tablet-portrait") - 1) + "px") {
        @content;
    }
}

@mixin tablet-portrait-up {
    @media (min-width: map.get(variables.$bb-rows-breakpoints, "tablet-portrait") + "px") {
        @content;
    }
}

@mixin tablet-landscape-down {
    @media (max-width: (map.get(variables.$bb-rows-breakpoints, "tablet-landscape") - 1) + "px") {
        @content;
    }
}

@mixin tablet-landscape-up {
    @media (min-width: map.get(variables.$bb-rows-breakpoints, "tablet-landscape") + "px") {
        @content;
    }
}

@mixin desktop-down {
    @media (max-width: (map.get(variables.$bb-rows-breakpoints, "desktop") - 1) + "px") {
        @content;
    }
}

@mixin desktop-up {
    @media (min-width: map.get(variables.$bb-rows-breakpoints, "desktop") + "px") {
        @content;
    }
}

@mixin desktop-big-down {
    @media (max-width: (map.get(variables.$bb-rows-breakpoints, "desktop-big") - 1) + "px") {
        @content;
    }
}

@mixin desktop-big-up {
    @media (min-width: map.get(variables.$bb-rows-breakpoints, "desktop-big") + "px") {
        @content;
    }
}
