//  Bit&Black Rows
//
//  @copyright Copyright (c) Bit&Black
//  @author Tobias Köngeter <hello@bitandblack.com>
//  @link https://www.bitandblack.com

// All layout related styles

@use "sass:math";
@use "base";
@use "variables";
@use "mixins";

// The row
#{variables.$bb-rows-row-selector} {
    @include base.grid;

    // Disabled the gutter
    @include mixins.eachBreakpoint("gutter-disabled") {
        @include base.grid--gutter-disabled;
    }

    // Option to fit all cells in one row
    @include mixins.eachBreakpoint("fit-row") {
        @include base.grid--fit-row;
    }
}

// The cell
#{variables.$bb-rows-row-selector} #{variables.$bb-rows-cell-selector} {
    @include base.cell;

    // The rows' width
    @include mixins.eachBreakpoint("cell", false, variables.$bb-rows-cell-selector) {
        @for $counter from 1 through variables.$bb-rows-row-number {
            &#{$counter} {
                @include base.cell--cell-count($counter);
            }
        }
    }

    // The left margin
    @include mixins.eachBreakpoint("leftMarginCell", false, variables.$bb-rows-cell-selector) {
        @for $counter from 0 through (variables.$bb-rows-row-number - 1) {
            &#{$counter},
            &#{$counter}:first-child,
            &#{$counter}:last-child {
                @include base.cell--left-margin-cell-count($counter);
            }
        }
    }

    // The right margin
    @include mixins.eachBreakpoint("rightMarginCell", false, variables.$bb-rows-cell-selector) {
        @for $counter from 0 through (variables.$bb-rows-row-number - 1) {
            &#{$counter},
            &#{$counter}:last-child,
            &#{$counter}:first-child {
                @include base.cell--right-margin-cell-count($counter);
            }
        }
    }

    // The order
    @include mixins.eachBreakpoint("order", false, variables.$bb-rows-cell-selector) {
        @for $counter from 1 through variables.$bb-rows-order-number {
            &#{$counter} {
                @include base.cell--order($counter);
            }
        }
    }

    // The flexible width
    @include mixins.eachBreakpoint("width-flexible", false, variables.$bb-rows-cell-selector) {
        @include base.cell--width-flexible;
    }
}