//  Bit&Black Rows
//
//  @copyright Copyright (c) Bit&Black
//  @author Tobias Köngeter <hello@bitandblack.com>
//  @link https://www.bitandblack.com

@use "sass:math";
@use "sass:map";
@use "variables";

// Loops all breakpoints
@mixin eachBreakpoint($selector, $sameLevel: true, $selectorParent: "") {
    @each $name, $current-resolution in variables.$bb-rows-breakpoints {
        $resolution-string: "all ";
        $resolution-name: "";

        @if ($current-resolution == 0) {
            @media #{$resolution-string} {
                @if ($sameLevel == true) {
                    &#{&}--#{$resolution-name}#{$selector} {
                        @content;
                    }
                }

                @else {
                    &#{$selectorParent}--#{$resolution-name}#{$selector} {
                        @content;
                    }
                }
            }
            
            $resolution-string: "all and (max-width: #{600 - .1}px)";
            $resolution-name: "phone-only-";
        }

        @if ($current-resolution != 0) {
            $resolution-string: "all and (min-width: #{$current-resolution}px)";
            $resolution-name: "#{$name}-";
        }
        
        @media #{$resolution-string} {
            @if ($sameLevel == true) {
                &#{&}--#{$resolution-name}#{$selector} {
                    @content;
                }
            }

            @else {
                &#{$selectorParent}--#{$resolution-name}#{$selector} {
                    @content;
                }
            }
        }
    }
}

// Targets the internet explorer 10 and 11
@mixin internet-explorer {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

// Upgoing breakpoint
@mixin bb-rows-breakpoint-up($breakpoint) {
    @if (map.has-key(variables.$bb-rows-breakpoints, $breakpoint) and $breakpoint != "undefined") {
        @media (min-width: map.get(variables.$bb-rows-breakpoints, $breakpoint) + "px") {
            @content;
        }
    }

    @else {
        @error "Breakpoint '#{$breakpoint}' is not possible.";
    }
}

// Calculates the percentage value of a number.
@function getUnitInPercentage($number) {
    $number: math.div($number, variables.$bb-rows-row-number);
    $number: math.percentage($number);
    @return $number;
}