//  Bit&Black Rows
//
//  @copyright Copyright (c) Bit&Black
//  @author Tobias Köngeter <hello@bitandblack.com>
//  @link https://www.bitandblack.com

// All space related styles

@use "variables";

@mixin getClasses($resolution-name, $counter, $unit, $unit-negative) {
    .#{variables.$bb-rows-namespace}m-#{$resolution-name}#{$counter} {
        margin: $unit;
    }

    .#{variables.$bb-rows-namespace}m-n-#{$resolution-name}#{$counter} {
        margin: $unit-negative;
    }

    .#{variables.$bb-rows-namespace}mx-#{$resolution-name}#{$counter} {
        margin-left: $unit;
        margin-right: $unit;
    }

    .#{variables.$bb-rows-namespace}mx-n-#{$resolution-name}#{$counter} {
        margin-left: $unit-negative;
        margin-right: $unit-negative;
    }

    .#{variables.$bb-rows-namespace}my-#{$resolution-name}#{$counter} {
        margin-top: $unit;
        margin-bottom: $unit;
    }

    .#{variables.$bb-rows-namespace}my-n-#{$resolution-name}#{$counter} {
        margin-top: $unit-negative;
        margin-bottom: $unit-negative;
    }

    .#{variables.$bb-rows-namespace}mt-#{$resolution-name}#{$counter} {
        margin-top: $unit;
    }

    .#{variables.$bb-rows-namespace}mt-n-#{$resolution-name}#{$counter} {
        margin-top: $unit-negative;
    }

    .#{variables.$bb-rows-namespace}mr-#{$resolution-name}#{$counter} {
        margin-right: $unit;
    }

    .#{variables.$bb-rows-namespace}mr-n-#{$resolution-name}#{$counter} {
        margin-right: $unit-negative;
    }

    .#{variables.$bb-rows-namespace}mb-#{$resolution-name}#{$counter} {
        margin-bottom: $unit;
    }

    .#{variables.$bb-rows-namespace}mb-n-#{$resolution-name}#{$counter} {
        margin-bottom: $unit-negative;
    }

    .#{variables.$bb-rows-namespace}ml-#{$resolution-name}#{$counter} {
        margin-left: $unit;
    }

    .#{variables.$bb-rows-namespace}ml-n-#{$resolution-name}#{$counter} {
        margin-left: $unit-negative;
    }

    .#{variables.$bb-rows-namespace}p-#{$resolution-name}#{$counter} {
        padding: $unit;
    }

    .#{variables.$bb-rows-namespace}px-#{$resolution-name}#{$counter} {
        padding-left: $unit;
        padding-right: $unit;
    }

    .#{variables.$bb-rows-namespace}py-#{$resolution-name}#{$counter} {
        padding-top: $unit;
        padding-bottom: $unit;
    }

    .#{variables.$bb-rows-namespace}pt-#{$resolution-name}#{$counter} {
        padding-top: $unit;
    }

    .#{variables.$bb-rows-namespace}pr-#{$resolution-name}#{$counter} {
        padding-right: $unit;
    }

    .#{variables.$bb-rows-namespace}pb-#{$resolution-name}#{$counter} {
        padding-bottom: $unit;
    }

    .#{variables.$bb-rows-namespace}pl-#{$resolution-name}#{$counter} {
        padding-left: $unit;
    }
}

@each $name, $current-resolution in variables.$bb-rows-breakpoints {
    $resolution-string: "all";
    $resolution-name: "";

    @if ($current-resolution == 0) {
        @media #{$resolution-string} {
            @for $counter from 0 through variables.$bb-rows-spaces-number {
                $unit: "";
                $unit-negative: "";

                @if (variables.$bb-rows-use-custom-css-properties == true) {
                    $unit: calc(#{variables.$bb-rows-spaces-unit} * #{$counter});
                    $unit-negative: calc(#{$unit} * -1);
                } @else {
                    $unit: variables.$bb-rows-spaces-unit * $counter;
                    $unit-negative: $unit * -1;
                }

                @if ($counter == 0) {
                    $unit: 0;
                    $unit-negative: 0;
                }

                @include getClasses($resolution-name, $counter, $unit, $unit-negative);
            }
        }

        $resolution-string: "all and (max-width: #{600 - .1}px)";
        $resolution-name: "phone-only-";
    }
    
    @if ($current-resolution != 0) {
        $resolution-string: "all and (min-width: #{$current-resolution}px)";
        $resolution-name: "#{$name}-";
    }

    @media #{$resolution-string} {
        @for $counter from 0 through variables.$bb-rows-spaces-number {
            $unit: "";
            $unit-negative: "";

            @if (variables.$bb-rows-use-custom-css-properties == true) {
                $unit: calc(#{variables.$bb-rows-spaces-unit} * #{$counter});
                $unit-negative: calc(#{$unit} * -1);
            } @else {
                $unit: variables.$bb-rows-spaces-unit * $counter;
                $unit-negative: $unit * -1;
            }

            @if ($counter == 0) {
                $unit: 0;
                $unit-negative: 0;
            }

            @include getClasses($resolution-name, $counter, $unit, $unit-negative);
        }
    }
}
