//  Bit&Black Rows
//
//  @copyright Copyright (c) Bit&Black
//  @author Tobias Köngeter <hello@bitandblack.com>
//  @link https://www.bitandblack.com

// These variables are declared as default setting
// an can be overwritten easily

// The default namespace for all classes
// This one can prevent collisions in large projects
$bb-rows-namespace: "" !default;

// The default gutter space
$bb-rows-gutter: 1rem !default;

// Default breakpoints
$bb-rows-breakpoints: (
    phone: 0,
    tablet-portrait: 600,
    tablet-landscape: 900,
    desktop: 1200,
    desktop-big: 1800,
) !default;

// How many rows there will be
$bb-rows-row-number: 12 !default;

// How many order classes there will be
$bb-rows-order-number: $bb-rows-row-number !default;

// Names of the row and cell classes
$bb-rows-row-selector: ".#{$bb-rows-namespace}row" !default;
$bb-rows-cell-selector: ".#{$bb-rows-namespace}row__cell" !default;

// The smallest unit for the space classes
$bb-rows-spaces-unit: 1rem !default;

// How many steps the spaces should have
$bb-rows-spaces-number: 5 !default;

// Whether css custom properties should be used or not.
$bb-rows-use-custom-css-properties: true !default;