//  Bit&Black Rows
//
//  @copyright Copyright (c) Bit&Black
//  @author Tobias Köngeter <hello@bitandblack.com>
//  @link https://www.bitandblack.com

// Those classes are needed for the viewport tracking with JavaScript.

@use "variables";
@use "mixins";

.bb-rows-js {
    &__viewport {
        display: none;

        @each $name-1, $current-resolution-1 in variables.$bb-rows-breakpoints {

            $resolution-name: "";

            @if ($name-1 != "undefined" and $current-resolution-1 != 0) {
                @each $name-2, $current-resolution-2 in variables.$bb-rows-breakpoints {
                    @if ($current-resolution-2 != 0) {
                        $resolution-name: "--#{$name-2}";
                    }

                    &#{&}#{$resolution-name} {
                        @include mixins.bb-rows-breakpoint-up($name-1) {
                            @if ($name-1 == $name-2) {
                                display: block;
                            }

                            @else {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
